{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSameLine": false,
  "quoteProps": "as-needed",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^@nestjs/(.*)$",
    "^next/(.*)$",
    "^react(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/common/(.*)$",
    "^@/config/(.*)$",
    "^@/modules/(.*)$",
    "^@/lib/(.*)$",
    "^@/components/(.*)$",
    "^@/types/(.*)$",
    "^@/utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy", "classProperties"]
}
