<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Reset Mật khẩu</title>
  <style>
    .otp-code { font-size: 24px; font-weight: bold; color: #dc3545; }
  </style>
</head>
<body>
  <h2>Xin chào, {{ name }}!</h2>
  <p>Bạn đã yêu cầu đặt lại mật khẩu. Mã OTP của bạn là:</p>

  <p class="otp-code">{{otp}}</p>

  <p>Mã này sẽ hết hạn sau 3 phút.</p>
  <p>Nếu bạn không yêu cầu, vui lòng bỏ qua email này.</p>
</body>
</html>
